requests
beautifulsoup4
scrapy
pandas
numpy
geopandas
geopy
psycopg2-binary
networkx
scikit-learn
statsmodels
xgboost
shap
ortools
matplotlib
seaborn
folium
streamlit
metabase
apache-airflow
selenium
fake-useragent
streamlit_folium

